$main-color: #589e3d;
$mainOpacity-color: rgba(88, 158, 61, 0.4);
$dark-color: #21252b;
$orange-color: #fd7f14;
$red-color: #dd3549;
$white-color: #fff;
$whiteOpacity-color: rgba(255, 255, 255, 0.7);
$grey-color: #f8f9fa;
$lightGrey-color: lightgray;
$backdrop-color: rgba(000, 000, 000, 0.3);
